<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="SellTicketsDBEntities" connectionString="metadata=res://*/Resources.LibsAndDitcionary.Model.csdl|res://*/Resources.LibsAndDitcionary.Model.ssdl|res://*/Resources.LibsAndDitcionary.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=178.161.150.241;initial catalog=SellTicketsDB;persist security info=True;user id=sa;password=AdminKab63;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>